.navbar {
    background-color: #020202;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar img {
    margin-right: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fcfcfc;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #007bff;
  }
  
  .navbar span{
    color: white;
  }